﻿@model A5PWT_Eshop.Application.ViewModels.Comments.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<p class="h2">Seznam všech komentářů</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Id produktu</th>
            <th>Titulek</th>
            <th>Text</th>
            <th>Autor</th>
            <th>Čas vytvoření</th>
            <th>Schváleno</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model.Comments) 
        {
            <tr>
                <td class="id">@comment.Id</td>
                <td class="productId">@comment.CreatorId</td>
                <td class="title">@comment.Title</td>
                <td class="text">@comment.Text</td>
                <td class="author">@comment.AuthorName</td>
                <td class="creationTime">@comment.CreationTime</td>
                <td class="approved">@(comment.IsApproved ? "Ano" : "Ne")</td>
                <td class="action">
                    @if (!comment.IsApproved)
                    {
                        <button type="button" class="btnApprove btn btn-primary">Schválit</button>
                    }
                    <button type="button" class="btnDelete btn btn-danger">Smazat</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
<script>
    $(document).ready(() => {
        $(document).on('click', '.btnApprove', approveComment);
        $(document).on('click', '.btnDelete', deleteComment);
    });

    function approveComment() {
        const row = $(this).closest('tr');
        let commentId = row.find('.id').text();

        $.ajax({
            method: 'POST',
            url: '@Url.Action("Approve", "Comments")',
            data: { commentId: commentId },
            success: function () {
                location.reload();
            }
        });

    }

    function deleteComment() {
        const row = $(this).closest('tr');
        let commentId = row.find('.id').text();

        $.ajax({
            method: 'POST',
            url: '@Url.Action("Delete", "Comments")',
            data: { commentId: commentId },
            success: function () {
                location.reload();
            }
        });

    }
</script>    
}
