﻿@model A5PWT_Eshop.Application.ViewModels.Security.LoginViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrace nového uživatele</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label">Email</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Heslo</label>
                <input asp-for="Password" class="form-control" type="password" id="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrovat" class="btn btn-default" id="buttonRegister"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na produkty</a>
</div>


