﻿@model A5PWT_Eshop.Application.ViewModels.Products.ProductViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "_Layout";
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageUrl" alt="@Model.Name" style="max-height:200px;" />
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div class="col-md-2">
            <input class="form-control" type="number" value="1" />
            <button id="add-to-cart" data-id="@Model.Id" class="btn btn-primary">Přidat do košíku</button>
            <div class="alert alert-success" id="success-alert" style="display:none;">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Přidáno!</strong>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Komentáře</h5>
        @if (Model.Comments.Count == 0)
        {
            <p class="text-warning">Tento produkt zatím neobsahuje žádné komentáře</p>
        }
        @if (Model.Comments != null)
        {
            @foreach (var comment in Model.Comments)
            {
                <div class="border rounded border-primary m-2 p-2">
                    <p class="h4">@comment.Title - @comment.AuthorName, @comment.CreationTime</p>
                    <p class="text-primary">@comment.Text</p>
                    @if (comment.CommentReplies != null)
                    {
                        @foreach (var reply in comment.CommentReplies)
                        {
                            <div class="border rounded border-primary m-2 p-2">
                                <p class="h4">@reply.Author, @reply.CreationTime</p>
                                <p class="text-primary">@reply.Text</p>
                            </div>
                        }
                    }
                    @if (Model.UserId.HasValue)
                    {
                        <div class="border border-primary rounded m-2 p-2">
                            <p class="h2">Odpovědet na komentář</p>
                            <div class="form-group">
                                <label class="control-label">Text odpovědi:</label>
                                <textarea class="newReplyText form-control" placeholder="Zde vložte svoji odpověď na komentář."></textarea>
                                <p class="text-primary commentId">@comment.Id</p>
                            </div>
                            <button type="button" class="btn btn-primary addNewReply">Přidat odpověď</button>
                        </div>
                    }
                </div>
            }
        }
        @if (Model.UserId.HasValue)
        {
            <div class="border border-primary rounded m-1">
                <p class="h4">Vložit komentář</p>
                <div class="form-group m-1">
                    <label class="control-label" for="newCommentTitle">Nadpis komentáře:</label>
                    <input type="text" class="form-control" id="newCommentTitle" placeholder="Titulek" />
                    <label class="control-label" for="newCommentText">Text komentáře:</label>
                    <textarea id="newCommentText" class="form-control" rows="10" placeholder="Zde napište váš komentář" wrap="soft"></textarea>
                    <button type="button" class="btn btn-primary btnAddComment">Přidat komentář</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(() => {
            $('#add-to-cart').click(addToCart);
            $(document).on('click', '.btnAddComment', addNewComment);
            $(".newReplyText").text("");
            $("#newCommentText").text("");
            $(document).on('click', '.addNewReply', addNewReply);
        });

        function addToCart() {
            var id = $(this).data('id');
            var amount = $(this).closest('div').find('input').val();

            $.ajax({
                method: 'POST',
                url: '@Url.Action("AddToCart", "Carts")',
                data: {id: id, amount: amount},
                success: function () {
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                        $("#success-alert").slideUp(500);
                    });
                }
            })
        }

        function addNewComment() {
            var title = $("#newCommentTitle").val();
            var text = $("#newCommentText").val();

            $.ajax({
                method: 'POST',
                url: '@Url.Action("AddComment", "Products")',
                data: { productId: @Model.Id, title: title, text: text, authorName: '@Model.UserEmail' },
                success: function () {
                    location.reload();
                }
            });
        }

        function addNewReply() {
            const div = $(this).closest('div');
            let commentId = div.find('.commentId').text();
            let replyText = div.find('.newReplyText').val();

            $.ajax({
                method: 'POST',
                url: '@Url.Action("AddReply", "Products")',
                data: { commentId: commentId, text: replyText, productId: @Model.Id, authorName: '@Model.UserEmail' },
                success: function () {
                    location.reload();
                }
            });
        }

    </script>
}
