﻿@model A5PWT_Eshop.Application.ViewModels.Products.IndexViewModel
@{
    ViewData["Title"] = "A5_PWT - eshop";
    Layout = "_Layout";
}

<div class="row">
    @foreach(var product in Model.Products)
    {
        <div class="card col-lg-4 col-xs-12 rounded-0 m-1 mh-25 h-25" style="width: 18rem;">
            <div class="thumbnail">
                <img src="@product.ImageUrl" alt="@product.Name" class="card-img-top " height="150" width="300"/>
                <div class="card-body">
                    <p class="card-title">@product.Name</p>
                    <p class="card-text">@product.Price.ToString() kč</p>
                    <div class="row">
                        <a class="btn btn-primary" href="@Url.Action("Detail", "Products", new { id = product.Id })" >Detail produktu</a>
                    </div>
                    
                </div>
            </div>
        </div>
    }
</div>

<script>

</script>

