﻿@model A5PWT_Eshop.Application.ViewModels.Orders.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Objednávky</h2>

<table class="table">
    <thead>
        <tr>
            <th>Datum vytvoření</th>
            <th>Celková cena</th>
            <th>Počet kusů</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCount)
            </td>
        </tr>
}
    </tbody>
</table>
