﻿ 
@{
    ViewData["Title"] = "Index";
}

<h2>Seznam reakcí na komentáře</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id komentáře</th>
            <th>Text</th>
            <th>Autor</th>
            <th>Datum vytvoření</th>
            <th>Schváleno</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Replies) 
        {
            <tr>
                <td class="id">@item.Id</td>
                <td class="parentCommentId">@item.ParentCommentId</td>
                <td class="text">@item.Text</td>
                <td class="author">@item.Author</td>
                <td class="creationTime">@item.CreationTime</td>
                <td class="isApproved">@(item.IsApproved ? "Ano" : "Ne")</td>
                <td>
                    @if (!item.IsApproved)
                    {
                        <button type="button" class="btnApprove btn btn-primary">Schválit</button>
                    }
                    <button type="button" class="btnDelete btn btn-danger">Smazat</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
<script>
    $(document).ready(() => {
        $(document).on('click', '.btnApprove', approveCommentReply);
        $(document).on('click', '.btnDelete', deleteCommentReply);
    });

    function approveCommentReply() {
        const row = $(this).closest('tr');
        let commentReplyId = row.find('.id').text();

        $.ajax({
            method: 'POST',
            url: '@Url.Action("Approve", "CommentsReplies")',
            data: { commentReplyId: commentReplyId },
            success: function () {
                location.reload();
            }
        });

    }

    function deleteCommentReply() {
        const row = $(this).closest('tr');
        let commentReplyId = row.find('.id').text();

        $.ajax({
            method: 'POST',
            url: '@Url.Action("Delete", "CommentsReplies")',
            data: { commentReplyId: commentReplyId },
            success: function () {
                location.reload();
            }
        });

    }
</script>
}
