﻿@model A5PWT_Eshop.Application.ViewModels.Carts.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Košík</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Obrázek
            </th>
            <th>
                Množství
            </th>
            <th>
                Cena za kus
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartsItem)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <image src="@item.ImageUrl" alt="@item.ProductName" class="product-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
<h3>Celkem: @Model.TotalPrice </h3>
@if (Model.CartsItem.Count > 0 && Model.UserID.HasValue)
{
    <a asp-controller="Orders" asp-action="Create" class="btn btn-primary">Objednat</a>
}
