﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A5PWT_Eshop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" 
              crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid bg-light p-0">
        <nav class="container navbar navbar-expand-lg navbar-light mb-0 rounded-0 navbar-fixed-top ">
            <p class="navbar-brand h2"><a asp-area="" asp-controller="Products" asp-action="Index">Produkty</a></p>
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 p-2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item h5 m-2">
                        <a asp-area="Admin" asp-controller="Products" asp-action="Index">Úprava produktů</a>
                    </li>
                    <li class="nav-item h5 m-2">
                        <a asp-area="Admin" asp-controller="Comments" asp-action="Index">Komentáře</a>
                    </li>
                    <li class="nav-item h5 m-2">
                        <a asp-area="Admin" asp-controller="CommentsReplies" asp-action="Index">Reakce na komentáře</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 ">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item h5 m-2">
                        <a asp-area="Admin" asp-controller="Security" asp-action="Logout">Odhlásit se</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content full-height contentBackground">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - A5PWT_Eshop</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
