﻿@model A5PWT_Eshop.Application.ViewModels.Products.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Produkty</h2>

<div class="col-lg-1 col-lg-offset-11">
    <button type="button" class="btn btn-default btn-insert" data-toggle="tooltip" data-placement="bottom" title="Přidat nový produkt">
        <i class="fas fa-plus"></i>
    </button>
</div>
<table class="table table-dark">
    <thead >
        <tr>
            <th>Id</th>
            <th>Jméno</th>
            <th>Cena</th>
            <th>Url obrázku</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products)
{
        <tr>
            <td class="id">@item.Id</td>
            <td class="name">@item.Name</td>
            <td class="price">@item.Price</td>
            <td class="imageurl"><img src="@item.ImageUrl" alt="@item.Name" class="product-thumbnail"/></td>
            <td class="actions">
                <!--<a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Upravit</a>-->
                <button class="btn btn-primary btn-edit" type="button">Upravit</button>
                @Html.ActionLink("Detaily", "Details", new { id = item.Id }) |
                @Html.ActionLink("Odstranit", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

@section  scripts
{
<script>
    $(document).ready(() => {
        $('.btn-insert').click(createRow);
        
        $(document).on('click', '.btn-discard', discard);
        $(document).on('click', '.btn-save', insert);
        $(document).on('click', '.btn-edit', edit);
        $(document).on('click', '.btn-saveedit', saveEdit);
    });

    function createRow() {
        const table = $('table tbody');
        table.prepend(
            '<tr>' +
            '<td class="id" data-id=""></td>' +
            '<td class="name" data-name=""><input type="text" class="form-control" name="Name" /></td>' +
            '<td class="price" data-price=""><input type="number" class="form-control" name="Price" /></td>' +
            '<td class="imageurl" data-image-url=""><input type="file" class="form-control" name="Image" /></td>' +
            '<td>' +
                '<button type="button" class="btn btn-primary btn-save">Uložit</button>' + 
                '<button type="button" class="btn btn-danger btn-discard">Zahodit</button>' + 
            '</td >' + 
            '</tr>'
        );
    }

    function discard() {
        const row = $(this).closest('tr');
        row.remove();
    }

    function edit() {
        console.log("Edit button selected");
        const row = $(this).closest('tr');
        let id = row.find('.id').text();
        let name = row.find('.name').text();
        let price = row.find('.price').text();
        let imageUrl = row.find('.imageurl img').attr('src');
        row.find('.id').html('<input type="number" class="form-control id" name="Id" value="' + parseInt(id) + '" readonly>');
        row.find('.name').html('<input type="text" class="form-control name" name="Name" value="' + name + '">');
        row.find('.price').html('<input type="number" class="form-control price" name="Price" value="' + parseFloat(price) + '">');
        row.find('.imageurl').html('<input type="file" class="form-control price" name="Image"/>' +
            '<input type="hidden" value="' + imageUrl + '">');
        row.find('.actions').html('<button type="button" class="btn btn-primary btn-saveedit">Uložit</button>' +
            '<button type="button" class="btn btn-danger ">Zahodit</button>');
    }

    function saveEdit() {
        sendData('@Url.Action("Edit")', this);

    }

    function insert() {
        sendData('@Url.Action("Insert")', this);
    }

    function sendData(actionUrl, context) {
        const row = $(context).closest('tr');
        const inputs = row.find('input');
        const form = document.createElement('form');
        inputs.map((i, input) => form.append(input.cloneNode()));
        const formData = new FormData(form);

         $.ajax({
            method: 'POST',
            url: actionUrl,
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                row.find('.id').text(data.ID);
                row.find('.name').html(data.name);
                row.find('.price').html(data.price);
                row.find('.imageurl').html(createImage(data.imageUrl));
            }
        });
    }

    function createImage(imageUrl) {
        const img = document.createElement('img');
        img.classList.add('product-thumbnail');
        img.src = imageUrl;
        return img;
    }

</script>
}
